<nav class="bg-gray-800 p-4">
  <ul class="flex justify-center space-x-6">
    <li><a routerLink="/" class="text-white hover:text-gray-300">Home</a></li>
    <li>
      <a routerLink="/" class="text-white hover:text-gray-300">About Us</a>
    </li>
    <li>
      <a routerLink="/" class="text-white hover:text-gray-300">Contact Us</a>
    </li>
  </ul>

  <ul class="flex justify-end space-x-6 mt-[-26px] mr-[40px]">
    <li>
      <a routerLink="/register" class="text-white hover:text-gray-300"
        >Register</a
      >
    </li>
    <li>
      <a routerLink="/" class="text-white hover:text-gray-300">Log Out</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
